.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
}

.name {
  font-size: 24px;
  margin-bottom: 5px;
}

.title {
  font-size: 1.4rem;
}

.section {
  margin-bottom: 20px;
}

.section h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section p {
  margin: 0;

}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background-color: #f0f0f0;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}
