.centered_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headline {
  margin-bottom: 2rem;
  background: rgb(153, 255, 0);
  background: linear-gradient(
    55deg,
    rgba(153, 255, 0, 1) 0%,
    rgba(183, 228, 58, 1) 44%,
    rgba(248, 255, 141, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: #e6e6e6;
}

.contact {
  margin-top: 2rem;
  color: #e6e6e6;
}

.contact > span {
  /* display: block needed since span is an inline element and cannot have margin without it */
  display: block;
  margin-bottom: 1rem;
}

.list_item {
  display: inline-block;
  margin-right: 1rem;
}

.list_item > a {
  text-decoration: none;
  color: inherit;
}

.guestbook {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.guestbook_title {
  font-weight: bold;
  font-size: 1.5rem;
}
