#tsparticles > canvas {
  z-index: -10;
}

.container {
  position: relative;
  width: 100%; /* or any desired width */
  height: 100vh; /* or any desired height */
}

.glassButton {
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glassButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
