.container {
  position: relative;
}

.avatar {
  position: absolute;
  top: 1%;
  left: 1%;

  object-fit: cover;
  cursor: pointer;
}

.guestbook {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.guestbook_title {
  font-weight: bold;
  font-size: 1.5rem;
}

.guestbook_content {
  margin-top: 1rem;
}

.button {
  background-color: rgb(153, 255, 0);
  color: rgb(153, 255, 0)
}
